* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.png binary
*.jpg binary
*.jpeg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.svg binary
*.otf binary
*.gif binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
